html #home{
    overflow-y: hidden;
}

body{
    background-color: #5f2b2e;
}

#home_container{
    text-align: center;
    margin-top: -6%;
}

.home_img{
    width: 60%;
    height: auto;
}

#home_eyes{
    margin-top: -40%;   /* to overlap images... too hardcoded?*/
}

#home_beak{
    border: 1px solid black;
    margin-top: -20%;
}

#home_beak img{
    border: 1px solid black;
}

area{
}