{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body id="home">
    <div id="home_container">
        <div id="home_hair" class="home_component">
            <img class="home_img" src="{% static 'images/hair.png' %}" />
        </div>
        <div id="home_eyes">
            <img class="home_img" src="{% static 'images/eyes.png' %}" />
        </div>
        <div id="home_beak">
            <img class="home_img" src="{% static 'images/beak.png' %}" />
        </div>
    </div>
</body>
</html>